
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Tutor/Views/Shared/_Tutor_LayOut.cshtml";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img style="background-size:contain" src="~/Asset/tutor_3.jpg" alt="Image">
        </div>

        <div class="item">
            <img src="~/Asset/Banner.jpg" alt="Image">
            <div class="carousel-caption">
                <h3>Gia sư trực tuyến</h3>
                <p>Đường đến thành công</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container text-center">
    <h3>Gia sư trực tuyến</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Asset/featured-01.png" class="img-responsive" alt="Image" style="margin-left:130px;">
            <p>Đội ngũ gia sư chất lượng</p>
        </div>
        <div class="col-sm-4">
            <img src="~/Asset/book.png" class="img-responsive" alt="Image" style="margin-left:140px;">
            <p>Thư viện lớn tài liệu giảng dạy</p>
        </div>
        <div class="col-sm-4">
            <img src="~/Asset/money.png" class="img-responsive" alt="Image" style="margin-left:150px;">
            <p>Chi phí hợp lý</p>
        </div>
    </div>
</div>

<style>
    .carousel-inner img {
        width: 100%; /* Set width to 100% */
        margin: auto;
        min-height: 200px;
    }
</style>

